<button class="button is-primary mt-6" (click)="!writeBlacklisted ? writeBlacklisted = true : writeBlacklisted = false">
{{!writeBlacklisted ? 'View blacklisted offers (' + blacklistedOffers + ')' : 'Hide blacklisted offers'}}
</button>

<div class="is-one-quarter" *ngFor="let offer of offers">
    <div *ngIf="!writeBlacklisted; else elseBlock">
        <div *ngIf="!offer.isBlacklisted && !offer.isFavorite && !offer.isApply">
            <app-offer-preview 
            [data]="offer">
            </app-offer-preview>
        </div>
    </div>
    <ng-template #elseBlock>
        <div *ngIf="offer.isBlacklisted && !offer.isFavorite">
            <app-offer-preview 
            [data]="offer">
            </app-offer-preview>
        </div>
    </ng-template>
</div> 

<!-- <div class="is-one-quarter" *ngFor="let offer of offers | blackListFilter: writeBlacklisted">
    <app-offer-preview 
    [data]="offer" 
    (blacklist)="blacklistedOffer($event)">
    </app-offer-preview>
</div> -->